body {
	
	font-size: 100% !important;
}

/*input {
	
	font-size: 100% !important;
}

table {
	
	font-size: 100% !important;
}*/

    
  
ul, li {
    list-style-type: none;
}

li:nth-child(odd){
	
	background: rgba(145,187,135,1)
}

.menuclass {
	width: 100% !important;
	padding: 0 !important;

}

#toolspanelmenu {
	
	height: 69%;

	
	overflow:auto;
}

#optionsmenu {
	
	height: 26%;
	
}

#members_file {
	
	position: absolute;
	display: block;
	top: 79.5%;
	width: 100%;
	opacity:0;
}

.user_name {
height: 45%;
margin-top: 5%;

}

.delete_member_button {
height: 50%;

}

.list_element{
	
	background: rgba(145,180,187,1);
	border: 2px solid black;
	text-align: center;

	height: 45%;
	width: 99%;
}

.option_element{
	
	background: rgba(145,180,187,1);
	border: 2px solid black;
	text-align: center;

	height: 23%;
	width: 99%;
}


.data_field_container {
	
	width: 33%;
	height: 50%;
	display: inline-block;
	float: left;
}

.label_field {
	
	/*background-color:blue;*/
	width: 100%;
	height: 38%;
	padding-top: 3%;
}


.data_field {
	
	/*background-color: yellow;*/
	width:100%;
	height:48%;

}

div#data_fields_panel {
	display: block;
	width: 76%;
}

.data_field_delete {
	
	background-color: #BF90A4;
	display: inline-block;
	/* float: left; */
	height: 100%;
	width: 24%;
}



::-webkit-input-placeholder {
   color: grey;
}

:-moz-placeholder { /* Firefox 18- */
   color: grey;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: grey;  
}

:-ms-input-placeholder {  
   color: grey;  
}
