body {
	
	font-size: 200% !important;
}

input {
	
	font-size: 75% !important;
}

table {
	
	font-size: 100% !important;
}      
  
ul, li {
    list-style-type: none;
}

li:nth-child(odd){
	
	background: rgba(145,187,135,1)
}

.menuclass {
	width: 100% !important;
	padding: 0 !important;
}


#toolspanelmenu {
	
	margin-top:5%;
	height: 50%;

	
	overflow:auto;
}

#optionsmenu {
	
	height: 40%;
	
	
}


.user_name {
height: 45%;
margin-top: 5%;

}

.delete_member_button {
height: 50%;

}

.list_element{
	
	background: rgba(145,180,187,1);
	border: 2px solid black;
	text-align: center;

	height: 50%;
	left: 10%;
	position: absolute;
	width: 80%;
}

.option_element{
	
	background: rgba(145,180,187,1);
	border: 2px solid black;
	text-align: center;

	height: 46%;
	width: 99%;
}


.data_field_container {
	
	/*background-color: red;*/
	width: 100%;
	height: 50%;
	display: inline-block;
	float: left;
}

.label_field {
	
	/*background-color: blue;*/
	width: 100%;
	height: 31%;
	padding-top: 10%;
	font-size: 133%;
	
}

#product_value_label {
	
	padding-top: 5%;
}

.data_field {
	
	/*background-color: yellow;*/
	width: 100%;
	height: 30%;

}

.data_text_field {
	margin-top:5%;
	width: 80%;
	text-align: center;
	height: 90%;
	
}



::-webkit-input-placeholder {
   color: grey;
}

:-moz-placeholder { /* Firefox 18- */
   color: grey;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: grey;  
}

:-ms-input-placeholder {  
   color: grey;  
}

div#congratulations_message {
	width: 99%;
	height: 99%;
	position: absolute;
	z-index: 600;
	background: #296AB3 !important;
	top: 0%;
	left: 0%;
	display:none;
	
}

.centered_table_text {
	
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
 

}

#congratulations_table_container {
	
	margin-top: 10%;
	height: 20%;
}

div#congratulations_image_container {
	height: 55%;
}

img#success_image {
	height: 100%;
}
