input#group_text_field {
	
	width: 50%;
	height: 100%;
	color: black;
	background-color: transparent;
	text-align: center;
	letter-spacing: 1px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 100%;
	
}	
    
  
ul, li {
    list-style-type: none;
}

.menuclass {
width: 100% !important;
height: 100%;
}

.list_element{
	
	background: rgba(145,180,187,1);
	border: 2px solid black;
	text-align: center;
	color: black;
	height: 10%;
	width: 100%;
}




::-webkit-input-placeholder {
   color: grey;
}

:-moz-placeholder { /* Firefox 18- */
   color: grey;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: grey;  
}

:-ms-input-placeholder {  
   color: grey;  
}
