
{% load i18n %}

{% block page_title %}
<head>
<title>RecipePrinouts Apps Main Menu</title>
</head>
{% endblock page_title %}

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'insuranceimapp/jquery-ui-1.10.3.custom/css/eggplant/jquery-ui-1.10.3.custom.css' %}" />
<script type="text/javascript" src="{% static 'insuranceimapp/jquery-ui-1.10.3.custom/js/jquery-1.9.1.js' %}" ></script>
<script type="text/javascript" src="{% static 'insuranceimapp/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js' %}" ></script>
<script type="text/javascript" src="{% static 'insuranceimapp/papaparse/papaparse.min.js' %}" ></script>
<script type="text/javascript" src="{% static 'insuranceimapp/jquery.csv-0.71/jquery.csv-0.71.min.js' %}" ></script>

{% if flavour == "full" %}
<link rel="stylesheet" type="text/css" href="{% static 'insuranceimapp/add_sale_success.css' %}" /> 
{% endif %}
{% if flavour == "mobile" %}
<link rel="stylesheet" type="text/css" href="{% static 'insuranceimapp/add_sale_success_mobile.css' %}" /> 
{% endif %}

<link rel="stylesheet" type="text/css" href="{% static 'insuranceimapp/site_basic_style_template.css' %}" />


<script>
    
    $(document).ready(function(){
                
        initiateListeners();


		$("members_list").attr("top",$("#add_from_members_list_button").attr("top"));

		function initiateListeners(){
			

			//Click on Cancel and Back to Main Menu
			
			$("#back_to_menu_button").click(function(){
				
				var action = $(this).attr("action_value");
								
				$("#action_to_execute").attr("value",action);
		
				$("#contents_form").submit();
			});

			
			//Click on Send Button
			
			$("#send_message_button").click(function(){
				
				
				var action = $(this).attr("action_value");
								
				$("#action_to_execute").attr("value",action);
				
				can_be_sent = true;
				
				if(!$("#product_name").val())
				{
					can_be_sent = false;
				}
				if(!$("#product_value").val())
				{
					can_be_sent = false;
				}
				
				if(!$.isNumeric($("#product_value").val()))
				{
					can_be_sent = false;
				}
				
				
				if(can_be_sent == true)
				{
					
					activateCongratulationsPopup();
					
					setTimeout(function(){$("#contents_form").submit();},4000);
					
				}
				
			});
			
			function activateCongratulationsPopup(){
				
		        $("#congratulations_message").css("display","block");
				$("#toolspanel_container").css("display","none");
			

			}
			
			
			
		}
		
		
	
		
		
	
    
    });
    

</script>

<body>

    <form id="contents_form" name="contents_form" action="{% url 'insuranceimapp:add_sale_success' %}" method="post">
    {% csrf_token %}
    
    
	    <div id="toolspanel_container">
	            <div id="tools-panel" title="Tools Available">
	                <!--<p class="validateTips_ToolsAvailable">Comment paragraph</p>-->
	                <ul class="menuclass" id="toolspanelmenu">
	                        
	                        <li class="list_user list_element">
	                        	<div id="send_message_container" class="action_button list_button" action_value="register_new_group_button">
	                        		<div class="data_field_container">
	                        			<div class="label_field">Produkt:</div>
	                        			<div class="data_field">
	                        				<input maxlength="10" id="product_name" name="product_name" class="data_text_field" type="text" value="" placeholder="Produktbezeichung"/>
	                        			</div>
	                        		</div>
	                        		<div class="data_field_container">
	                        			<div id="product_value_label" class="label_field">Euro:</div>
	                        			<div class="data_field">
	                        				<input maxlength="6" pattern="[0-9]" title="Format: Max. 6 digits" id="product_value" name="product_value" class="data_text_field" type="text" value="" placeholder="Wert des Produktes"/>
	                        			</div>
	                        		</div>
	                        		
	                        	</div>
	                        </li>
	                        
	                </ul>
	                <ul class="menuclass" id="optionsmenu">
	                        <li class="option_element">
	                        	<table id="send_message_button" class="centered_table_text action_button list_button" action_value="send_message"><td>An alle Kollegen senden</td></table>
	                        </li>
	                        <li class="option_element">
	                        	<table id="back_to_menu_button" class="centered_table_text action_button list_button" action_value="back_to_menu"><td>Abbrechen und zurück zum Menü</td></table>
	                        	
	                        </li>
	            	</ul>
	            </div>
	            
	            
	            
	            <input type="text" name="action_to_execute" id="action_to_execute" class="invisible" value=""/>
	            
	            <input type="text" name="users_to_delete" id="users_to_delete" class="invisible" value=""/>
	            
	            <input type="text" name="users_dictionary_string" id="users_dictionary_string" class="invisible" value=""/>
	    </div>
	    
	    <div id="congratulations_message">
	            	<div id="congratulations_image_container">
	            		<table class="centered_table_text list_button">
	                    		<td>
	                    			<img id="success_image" src="{% static 'insuranceimapp/images/successhand_icon.png' %}">
								</td>
	                    </table>
	            	</div>
	            	<div id="congratulations_table_container">
	            		<table class="centered_table_text list_button">
	                    		<td>
	                    			Herzlichen Glückwunsch und vielen Dank! <br><br>
	                    			Ihr Erfolg wurde geteilt
								</td>
	                    </table>
	            	</div>
	            	
	            </div>

    </form>
    
    {% if flavour == "full" %}
	<!--<meta http-equiv="refresh" content="30" />-->
	{% endif %}
	{% if flavour == "mobile" %}
	<!--<meta http-equiv="refresh" content="5" />-->
	<meta name="viewport" content="user-scalable=no">
	{% endif %}
    
</body>


