
{% load i18n admin_static %}

{% block config_libs %} 

<link rel="stylesheet" type="text/css" href="{% static 'insuranceimapp/jquery-ui-1.10.3.custom/css/eggplant/jquery-ui-1.10.3.custom.css' %}" />
<script type="text/javascript" src="{% static 'insuranceimapp/jquery-ui-1.10.3.custom/js/jquery-1.9.1.js' %}" ></script>
<script type="text/javascript" src="{% static 'insuranceimapp/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js' %}" ></script>


{% endblock config_libs %}

{% block special_libs %} 

{% if flavour == "full" %}
<link rel="stylesheet" type="text/css" href="{% static 'insuranceimapp/app_login.css' %}" />
{% endif %}
{% if flavour == "mobile" %}
<link rel="stylesheet" type="text/css" href="{% static 'insuranceimapp/app_login_mobile.css' %}" />
{% endif %}


{% endblock special_libs %}

{% block javascript %} 

<script>

    $(document).ready(function () {
    
    	{% if flavour == "full" %}
			/*$( "#login" ).dialog({
	          autoOpen: true,
	          height: 300,
	          width: 350,
	          modal: true,
	          closeOnEscape: false,
	          resizable: false,
	          buttons: {
	            "Login": function() {
	                $('#LoginForm').submit();
	            },
	          }
	          
	        });*/
		{% endif %}
		{% if flavour == "mobile" %}
			/*$( "#login" ).dialog({
	          autoOpen: true,
	          height: 1000,
	          width: 800,
	          modal: true,
	          closeOnEscape: false,
	          resizable: false,
	          buttons: {
	            "Login": function() {
	                $('#LoginForm').submit();
	            },
	          }
	          
	        });*/
		{% endif %}
    
    	$("#login_button").click(function(){
    		
    		$('#LoginForm').submit();
    	});
        
    
    
    });

</script>

{% endblock javascript %}

{% block content %}
    <div id="login" title="Allianz Sale Success"><div id="title_bar_container"><img id="logo_image" src="{% static 'insuranceimapp/images/vertriebsfirmalogosuccess.png' %}"></div>
        <form id="LoginForm" name="LoginForm" action="{% url 'insuranceimapp:app_login' %}" method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
              
          <fieldset>
          	{% if flavour == "mobile" %}
          	<label for="username">User</label>
          	{% else %}
          	<label for="username">Username</label>
          	{% endif %}
            
            <input type="text" name="username" id="username"  class="text ui-corner-all" />
            <label for="password">Password</label>
            <input type="password" name="password" id="password" value="" class="text ui-corner-all" />
          </fieldset>

		  <div id="bottom_bar_container"><img id="login_button" src="{% static 'insuranceimapp/images/allianzlogin_smaller.png' %}"></div></div>
		  
        </form>
    </div>
    
    {% if flavour == "full" %}
	<!--<meta http-equiv="refresh" content="30" />-->
	{% endif %}
	{% if flavour == "mobile" %}
	<!--<meta http-equiv="refresh" content="30" />-->
	{% endif %}
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
{% endblock %}

