
{% load i18n %}

{% block page_title %}
<head>
<title>RecipePrinouts Apps Main Menu</title>
</head>
{% endblock page_title %}

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'insuranceimapp/jquery-ui-1.10.3.custom/css/eggplant/jquery-ui-1.10.3.custom.css' %}" />
<script type="text/javascript" src="{% static 'insuranceimapp/jquery-ui-1.10.3.custom/js/jquery-1.9.1.js' %}" ></script>
<script type="text/javascript" src="{% static 'insuranceimapp/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js' %}" ></script>

<link rel="stylesheet" type="text/css" href="{% static 'insuranceimapp/user_panel_module.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'insuranceimapp/group_options_menu.css' %}" /> 
<link rel="stylesheet" type="text/css" href="{% static 'insuranceimapp/site_basic_style_template.css' %}" />

<script>
    
    $(document).ready(function(){
        
        createUserPanel();
        initiateListeners();
        
        /*$( "#tools-panel" ).dialog({
                  
                  height: $('body').height()-30,
                  
                  modal: false,
                  autoOpen:true,
                  closeOnEscape: false,
                  resizable:true,
                  
                  
        });
                
        $( "#toolspanelmenu" ).menu({ position: { my: "right bottom", at: "right bottom" },
                    select: function( event, ui ) {
                        
                    } 
        });    */


        function createUserPanel(){
        
            $( "#user-panel" ).dialog({
                  
                  height: $('#userpanel_container').height(),
                  width: $('#userpanel_container').width(),
                  modal: false,
                  autoOpen:true,
                  closeOnEscape: false,
                  resizable:true,
                  position: {
                    my: "left bottom", at: "left bottom", of: $('#userpanel_container')
                    }
                  
                });
                
                $( "#userpanelmenu" ).menu({ position: { my: "right bottom", at: "right bottom" },
                    select: function( event, ui ) {
                        
                    } 
                });
        }

		function initiateListeners(){
			
			
			//Click on any Group's name, gets you to that Group's Member List
			
			/*$(".group_name_button").click(function(){
							
				action = $(this).attr("action_value");
				
				group_name = $(this).attr("group_name");
				
				$("#action_to_execute").attr("value",action);
				
				$("#group_text_field").val(group_name);
		
				$("#contents_form").submit();
				
			});*/
			
			//Click on Join Group Button
			
			/*$("#join_group_button").click(function(){
				
				$("#group_text_line").removeClass("invisible");
				
				action = $(this).attr("action_value");
				
				$("#action_to_execute").attr("value",action);
				
				$("#group_text_field").focus();
			});*/
			
			//Click on Create Group Button
			
			/*$("#create_group_button").click(function(){
				
				$("#group_text_line").removeClass("invisible");
				
				action = $(this).attr("action_value");
				alert(action);
				$("#action_to_execute").attr("value",action);
				
				$("#group_text_field").focus();
			});*/
			
			//When unfocusing from text input field (to create or find groups)
			//If there is something written, it submits, to execute the action asked for (create or find)
			
			/*$("#group_text_field").blur(function(){
				
				group_value = $("#group_text_field").val();
				
				if(group_value)
				{
					$("#contents_form").submit();
				}
				else
				{
					$("#group_text_line").addClass("invisible");
				}
				
			});*/
			
			
			//Click on Main Menu Button
			
			$("#back_main_menu_button").click(function(){
				
				action = $(this).attr("action_value");
				
				$("#action_to_execute").attr("value",action);
				$("#contents_form").submit();
				
			});
		}
    
    });
    

</script>

<body>

    <form id="contents_form" name="contents_form" action="{% url 'insuranceimapp:group_options_menu' group_name %}" method="post">
    {% csrf_token %}
    
    
    <div id="toolspanel_container">
            <div id="tools-panel" title="Tools Available">
                <!--<p class="validateTips_ToolsAvailable">Comment paragraph</p>-->
                <ul class="menuclass" id="toolspanelmenu">
                    {% for user_object in belonging_users_list %}
                        <li class="list_element">
                        	<div class="receiving_icons_panel">
                        		{% for message in user_object.sent_messages.all %}
                        			{% if message.content == "hurray" and message.pushed == "pushed" and user_profile in message.receiver_users.all %}
	                        			<img class="icon_image hurray_image" src="{% static 'insuranceimapp/images/hurray.png' %}" alt="Hurray! I made a sell!">
	                        		{% endif %}
	                        		{% if message.content == "need_help" and message.pushed == "pushed" and user_profile in message.receiver_users.all %}	
	                        		<img class="icon_image need_help_image" src="{% static 'insuranceimapp/images/need_help.png' %}" alt="Need cheering, I'm going for it!">
	                        		{% endif %}
	                        		{% if message.content == "hang_in_there" and message.pushed == "pushed" and user_profile in message.receiver_users.all %}
	                        		<img class="icon_image hang_in_there_image" src="{% static 'insuranceimapp/images/hang_in_there.png' %}" alt="Hang in there buddy!">
	                        		{% endif %}
	                        		{% if message.content == "well_done" and message.pushed == "pushed" and user_profile in message.receiver_users.all %}
	                        		<img class="icon_image well_done_image" src="{% static 'insuranceimapp/images/well_done.png' %}" alt="Yeah! Well done!">
	                        		{% endif %}
	                        		
	                        		
                        		{% endfor %}
                        	</div>
                        	<div id="user_name_button{{user_object.id}}" class="user_name_button list_button" group_name="{{user_object.user.username}}" value="{{user_object.id}}" action_value="user_name_click">
                        	
                        		<p>{{user_object.user.username}}</p>
                        	
                        	</div>
                        	<div class="sending_icons_panel">
                        		{% for message in user_profile.sent_messages.all %}
	                        		{% if message.content == "hurray" and message.pushed == "pushed" and user_object in message.receiver_users.all %}
	                        		<img class="icon_image hurray_image" src="{% static 'insuranceimapp/images/hurray.png' %}" alt="Hurray! I made a sell!">
	                        		{% endif %}
	                        		{% if message.content == "need_help" and message.pushed == "pushed" and user_profile in message.receiver_users.all %}
	                        		<img class="icon_image need_help_image" src="{% static 'insuranceimapp/images/need_help.png' %}" alt="Need cheering, I'm going for it!">
	                        		{% endif %}
	                        		{% if message.content == "hang_in_there" and message.pushed == "pushed" and user_profile in message.receiver_users.all %}
	                        		<img class="icon_image hang_in_there_image" src="{% static 'insuranceimapp/images/hang_in_there.png' %}" alt="Hang in there buddy!">
	                        		{% endif %}
	                        		{% if message.content == "well_done" and message.pushed == "pushed" and user_profile in message.receiver_users.all %}
	                        		<img class="icon_image well_done_image" src="{% static 'insuranceimapp/images/well_done.png' %}" alt="Yeah! Well done!">
	                        		{% endif %}
                        		{% endfor %}
                        	</div>
                        	
                        </li>
                        
                    {% endfor %}
                    
                    	<!--<li id="group_text_line" class="invisible list_element"><input type="text" name="group_text_field" id="group_text_field" class="list_button" placeholder="Introduce Group Name, then click outside." value=""/></li>
                        
                        <li class="list_element"><div id="join_group_button" class="action_button list_button" action_value="join_group"><p>Join Group</p></div></li>
                        -->
                        <li class="list_element"><div id="unsuscribe_button" class="action_button list_button" action_value="unsubscribe_from_group"><p>Unsuscribe from Group</p></div></li>
                    	
                        <li class="list_element"><div id="back_main_menu_button" class="action_button list_button" action_value="back_to_main_menu"><p>Back to Main Menu</p></div></li>
                       
                </ul>
            </div>
            
            <input type="text" name="action_to_execute" id="action_to_execute" class="invisible" value=""/>
            <input type="text" name="message_to_send" id="message_to_send" class="invisible" value=""/>
    </div>
    
    <div id="userpanel_container">
            <div id="user-panel" title="{{the_user.username}}">
                
                <ul class="menuclass" id="userpanelmenu">
                    <li><a id="logout_link" href="{% url 'insuranceimapp:app_login' %}">Change User</a></li>
                    
                </ul>
            </div>
    </div>
    </form>
    
</body>


