
{% load i18n %}

{% block page_title %}
<head>
<title>InsuranceIM App Main Menu</title>
</head>
{% endblock page_title %}

{% load staticfiles %}

     
<link rel="stylesheet" type="text/css" href="{% static 'insuranceimapp/jquery-ui-1.10.3.custom/css/eggplant/jquery-ui-1.10.3.custom.css' %}" />
<script type="text/javascript" src="{% static 'insuranceimapp/jquery-ui-1.10.3.custom/js/jquery-1.9.1.js' %}" ></script>
<script type="text/javascript" src="{% static 'insuranceimapp/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js' %}" ></script>

{% if flavour == "full" %}
<link rel="stylesheet" type="text/css" href="{% static 'insuranceimapp/user_main_menu.css' %}" /> 
{% endif %}
{% if flavour == "mobile" %}
<link rel="stylesheet" type="text/css" href="{% static 'insuranceimapp/user_main_menu_mobile.css' %}" /> 
{% endif %}

<link rel="stylesheet" type="text/css" href="{% static 'insuranceimapp/site_basic_style_template.css' %}" />


<script>
    
    $(document).ready(function(){
        
        initiateListeners();

		function initiateListeners(){
			
			
			//Click Add Members Button
			
			$("#add_sale_success_button").click(function(){
							
				var action = $(this).attr("action_value");
								
				$("#action_to_execute").attr("value",action);
		
				$("#contents_form").submit();
				
			});
			
			
			//Click Clear All Messages Button
			
			$("#clear_all_messages_button").click(function(){
							
				var action = $(this).attr("action_value");
								
				$("#action_to_execute").attr("value",action);
			
				$(".list_message").each(function(){
					
					markMessageAsToClear($(this));
				});
			
				$("#contents_form").submit();
				
			});
			
			//When clicking on any Unread Message
			
			
			//Uncomment this lines to activate deletion of messages (read)
			/*
			 * 
			 */
			
			/*$(".list_message").click(function(){

				markMessageAsToClear($(this));
			
				$("#contents_form").submit();
				
			});*/
			
			
			
			
			//Click on Logout Button
			
			$("#logout_button").click(function(){
				
				var action = $(this).attr("action_value");
								
				$("#action_to_execute").attr("value",action);
		
				$("#contents_form").submit();
			});
			
			
		}
		
		function markMessageAsToClear(message_object)
		{
			composed_message = $("#messages_to_clear").attr("value") + "," + message_object.attr("pk_value");
			$("#messages_to_clear").attr("value",composed_message);
		}
    
    });
    

</script>

<body>

    <form id="contents_form" name="contents_form" action="{% url 'insuranceimapp:user_main_menu' %}" method="post">
    {% csrf_token %}
    
    
	    <div id="toolspanel_container">
	            <div id="tools-panel" title="Tools Available">
	                <!--<p class="validateTips_ToolsAvailable">Comment paragraph</p>-->
	                {% if messages_list|length == 0 %}
	                <ul class="menuclass no_new_messages_toolspanelmenu" id="toolspanelmenu">    
					
					
					
	                </ul>
	                {% else %}
	           
	                <ul class="menuclass" id="toolspanelmenu">
	                {% for message in messages_list %}
	                		<!--<div class="success_image_container"><img class="success_image" src="images/successhand_icon.png"></div>-->
	                    	<li pk_value = "{{message.pk}}" class="list_message">
	                    		<div class="success_container">
	                    			
	                    			<!--<img class="success_image" src="{% static 'insuranceimapp/images/successhand_icon.png' %}">-->
	                    			{% load tz %}
		                    		<table class="centered_table_text action_button list_button" action_value="clean_message">
		                    		<td>Erfolgsmeldung!<br><span class="smaller_font">{{message.sender.first_name}}, {{message.sender.surname_first_letter}}., {{message.sender.zipcode}}, {{message.sender.city}}<br>{{message.creation_date|utc}}</span><br>
		                    		 Produkt: {{message.product_name}} <br> Euro: {{message.product_value}}
		                    		</td>
	                    		
	                    			</table>
	                    		</div>
	                    	</li>
	                {% endfor %}
	                </ul>
	                {% endif %}
	                
	                {% if messages_list|length == 0 %}
	                <ul class="menuclass no_new_messages_optionsmenu" id="optionsmenu">
	                {% else %}
	                <ul class="menuclass" id="optionsmenu">
	                {% endif %}
	                        
	                        {% if messages_list|length == 0 %}
	                        <li class="list_element no_new_messages_list_element" ><table id="add_sale_success_button" class="centered_table_text action_button list_button" action_value="add_sale_success"><td>Neue Erfolgsmeldung.<br>Hier klicken</td></table></li>
	                        <li class="invisible list_element"><table id="clear_all_messages_button" class="centered_table_text action_button list_button" action_value="clear_all_messages_button"><td>Alle Meldungen löschen</td></table></li>
	                        {% else %}
	                        <li class="list_element"><table id="add_sale_success_button" class="centered_table_text action_button list_button" action_value="add_sale_success"><td>Neue Erfolgsmeldung.<br>Hier klicken</td></table></li>
	                        <li class="list_element"><table id="clear_all_messages_button" class="centered_table_text action_button list_button" action_value="clear_all_messages_button"><td>Alle Meldungen löschen</td></table></li>
	                        {% endif %}
	                        <li class="invisible list_element"><div id="logout_button" class="action_button list_button" action_value="logout"><p>Logout</p></div></li>
	            			
	            	</ul>
	            </div>
	            
	            <input type="text" name="action_to_execute" id="action_to_execute" class="invisible" value=""/>
	            <input type="text" name="messages_to_clear" id="messages_to_clear" class="invisible" value=""/>
	    </div>

    </form>
    
    {% if flavour == "full" %}
	<meta http-equiv="refresh" content="60" />
	{% endif %}
	{% if flavour == "mobile" %}
	<meta http-equiv="refresh" content="30" />
	<meta name="viewport" content="user-scalable=no">
	{% endif %}
    
    
</body>


